/* CSS declarations go here */
body {
    font-family: sans-serif;
 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 
    padding: 0;
    margin: 0;
 
    font-size: 14px;
}

* {
  box-sizing: border-box;
}
 
.result {
  position: relative;
}
.result h3 {
  background: red;
  position: absolute;
  font-size: 33px;
  padding: 100px;
  z-index: 3000;
}

.chart {
  /*position: absolute;*/
  -moz-box-shadow: 1px 2px 5px #000000;
  -webkit-box-shadow: 1px 2px 5px #000000;
  box-shadow: 1px 2px 5px #000000;
}

.columns {
  background: #f05e48;
  color: #fff;
  width: 320px;
  height: 325px;
  margin: 0 auto;
  /*border-sizing: border-box;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}
.chart .column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-weight: bold;
  margin: 0 5px;
}
.chart .column:first-child {
  margin-left: 10px;
}
.chart .column:last-child {
  margin-right: 10px;
}
.chart .column-header {
  font-size: 26px;
}
.chart .column-digit {
  font-size: 20px;
  background: #fff;
  color: #f05e48;
  height: 50px;
  margin: 5px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.chart .column-digit:first-child {
  margin-top: 0;
}
.chart .column-digit:last-child {
  margin-bottom: 10px;
}
.chart .column-digit .number, .chart .column-digit .circle {
  
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.chart .column-digit {
  position: relative;
}
.chart .column-digit.selected:before {
  position: absolute;
  content: " ";
  display: block;
  left: 0;
  top: 0;
  /*width: 95%;
  height: 95%;*/
  background: transparent;
  background: green;
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  top: 50%;
  margin-top: -17.5px;
  left: 50%;
  margin: -17.5px;
  opacity: .7;
  
}

.chart .column-digit.empty:before {
  position: absolute;
  content: "Free";
  display: block;
  left: 0;
  top: 0;
  left: 0;
  top: 0;
  width: 95%;
  height: 95%;
  border: 1px solid #fff;
  border-radius: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f05e48;
  color: #fff;
  font-size: 1.2rem;
}

.redo {
  
}
.chart .column-number .circle-green {
  background: transparent;
  background: green;
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  top: 50%;
  margin-top: -17.5px;
  left: 50%;
  margin: -17.5px;
  opacity: .7;
}
.chart .column-number .circle .text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-transform: uppercase;
  font-size: 14px;
}

.hidden {
  opacity: 0.3;
}